*{
    margin: auto;
    padding: 0;
    align-items: center;
}

body{
        margin: auto;
        padding: 10px 20px;
        justify-content: center;
        height: 100vh;  
        align-content: center;  
        display: flex;
}

.container{

 width: 350px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);}

.todo-header{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h3{
    color: gray;
    text-align: center;
}

button{
    text-align: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    font-weight: bolder;
    padding: 10px;
    border-radius: 15px;
    background-color: aquamarine;
    margin-top: 10px;
    width: 100%;
    display: flex;
}

