  table, tr, th,td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        table{
            width: 100%;
        }
        table th{
            background-color: black;
            color: white;
            height: 30px;
        }
        table td{
            text-align: center;
        }
        table tr:hover{
            background-color: black;
            color: white;
        }
        table tr:nth-child(odd){
            background-color: rgb(255, 255, 255);
            color:black;
        }
        table tr:nth-child(even){
            background-color: rgba(233, 232, 232, 0.995);
            color: black;
        }
